@font-face {
    font-family: 'fontazure';
    src: url(fonts/normal.woff2);
}
@font-face {
    font-family: 'semi-bold';
    src: url(fonts/semi_bold.woff2);
}
@font-face {
    font-family: 'fluenticon';
    src: url(fonts/MWFFluentIcons.woff2);
}
@font-face {
    font-family: 'MDL';
    src: url(fonts/mwfmdl2-v3.54.woff);
}
body{
    margin:0;
    font-family:'fontazure';
}
.main-header{
    min-width:280px;
    background-color: rgb(255,255,255);
}
.header-container{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    height:53.2px;
    max-width:1600px;
    padding-bottom:2px;
    position:relative;
    border-bottom:0.8px solid rgb(230,230,230);
}
.three-line{
    border:0;
    cursor:pointer;
    background:white;
    height:48px;
    margin:1px;
    max-width:374px;
    /* padding-block-end:8px;
    padding-block-start:6px; */
    padding-top:6px;
    text-align:center;
    width:48px;
}
.three-line::before{
    color:rgb(0,0,0);
    content:"";
    font-family:'MDL';
    font-size:20px;
    line-height:15px;
    /* margin-top:7px; */
    height:20px;
}
.search-button{
    border:0;
    cursor:pointer;
    background:white;
    height:32px;
    left:1px;
    margin-left:2px;
    width:34px;
}
.search-button::after{
    color:rgb(0,0,0);
    content:"";
    font-family: 'MDL';
    font-size:16px;
}
.three-line img{
    width:20px;
}
.microsoft-title{
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    width:100%;
    height:53.2px;
}
.microsoft-title img{
    width:110px;
}
.azure-dropdn{
    width:100%;
    height:34px;
}
.drop-dn{
    display:flex;
    align-items:center;
    border:0;
    background:white;
    gap:10px;
}
.drop-dn img{
    width:15px;
}
.master-image img{
    max-width:100%;
    max-height:100%;
    object-fit:cover;
}
.hidden-desktopImage{
    display:none;
}
.first-part{
    /* background-image:url(images/Mobile-product-BG-2x.avif); */
    background-image: linear-gradient(90deg, rgb(237, 232, 246) 0%, rgb(244, 250, 253) 49.99%, rgb(220, 238, 248) 100%);
    background-size:cover;
    padding-bottom:56px;
}
#primaryArea{
    padding-left:16px;
    padding-right:16px;
    line-height:24px;
}
.row{
    display:flex;
    flex-wrap:wrap;
    margin-left:-4px;
    margin-right:-4px;
}
.col{
    flex-basis: 0px;
    flex-grow:1;
}
.layout-section{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    row-gap:8px;
    margin-top:32px;
}
.layout-col{
    flex:0 0 100%;
}
.section-master{
    letter-spacing: -0.48px;
}
.block-heading{
    animation-delay:0s, 0s;
    animation-direction:normal, normal;
    animation-duration:1.2s, 1.2s;
    animation-iteration-count:1,1;
    animation-name: fade-in, slide-up; 
}
.block-heading-eyebrow{
    margin-bottom:12px;
}
.heading-data{
    color:rgb(23, 37, 61);
    /* font-weight:600; */
    letter-spacing:0.96px;   
    font-size:12px;
    font-family:'semi-bold';
}
.heading-title-data{
    /* font-size:48px; */
}
.heading-title-data h1{
    margin:0;
    line-height:40px;
    color:rgb(23, 37, 61);
    font-size:32px;
    font-family:'semi-bold';
    letter-spacing:-1.6px;
}
.block-heading-paragraph{
    margin-top:16px;
    padding-inline-end:16px;
}
.para-data{
    line-height:1.75rem;
    color:rgb(23, 37, 61);
    font-size:18px;
    letter-spacing:-0.50px;
}
.block-heading-slot{
    margin-top:24px;
}
.button-heading{
    display:flex;
    flex-direction:column;
    column-gap:8px;
    row-gap:8px;
}
.btn{
    background-color:rgb(0,120, 212);
    border-radius:8px;
    border:2px solid rgba(0,0,0,0);
    box-sizing:border-box;
    color:rgb(255,255,255);
    cursor:pointer;
    letter-spacing:-0.3px;
    text-align:center;
    padding:12px;
    position:relative;
    text-decoration:none;
    font-size:15px;
}
.row-section-master-slot{
    display:flex;
    flex-wrap:wrap;
    margin-top:32px;
}
.col-col{
    flex-grow:1;
    max-width:100%;
    padding-left:4px;
    padding-right:4px;
    row-gap:32px;
    flex-basis:0px;
    column-gap:32px;
}
.second-part{

}
.sticky-dropdn{
    background-color:rgb(254,254,254);
    /* border-radius:8px; */
    box-shadow:rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
    display:flex;
    flex-direction:column;
    height:60px;
    justify-content:flex-end;
    position:sticky;
    /* align-self:flex-start; */
}
#sticky-nav{
    /* display:flex; */
    align-items:center;
    box-sizing:border-box;
}
.dropdn{
    box-sizing:border-box;
    margin:4px;
}
.dropdnlink{
    cursor:pointer;
    text-decoration:none;
}
.list-item-inner{
    display:flex;
    align-items:center;
    column-gap:8px;
    padding:12px;
    pointer-events:auto;
    text-align:left;
}
.list-item-content{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    row-gap:4px;
}
.label-list-item{
    font-size:14px;
    color:rgb(0,66,117);
    letter-spacing:-0.48px;
}
.list-item-symbol{
    align-self:self-end;
}
.dropdn-icon{
    display:inline-flex;
    cursor:pointer;
    height:24px;
    max-height:100%;
    max-width:100%;
    width:15.5312px;
}
.icon-drop{
    color:rgb(0,120, 212);
}

.horizontal-line{
    background-color:rgb(0,66,117);
    height:4px;
}

/* SCROLLSPY */

.scrollspy-container{
    background-image:url(images/Mobile\ second\ part.avif);
    background-size:cover; 
}
.section-master-second{
    padding-bottom:56px;
    padding-top:56px;
}
#featured-news{
    padding-right:16px;
    padding-left:16px;
}
.featured{
    letter-spacing:0.96px;
    margin-bottom:12px;
    font-size:12px;
    font-weight:600px;
}
.discover-head{
    letter-spacing:-1.2px;    
}
.card-section{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    column-gap:12px;
    box-sizing:border-box;
    row-gap:8px;
}
.cards{
    display:flex;
    flex-direction: column;
    background-color:rgb(254,254,254);
    border-radius:16px;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
    box-sizing:border-box;
}
.card-media{
    padding-inline-end:8px;
    padding-inline-start:8px;
    padding-top: 8px;
}
.card-media img{
    border-radius:8px;
    aspect-ratio:2.33333 / 1;
    object-fit: cover;
    width:100%;
    height:100%;
}
.card-content{
    display:flex;
    flex-direction:column;
    padding:16px;
    justify-content:space-between;
}
.card-content h3{
    margin:0;
}
.content-first{
    display:flex;
    flex-direction:column;
    column-gap:12px;
    row-gap:12px;
}
.content-row-first{
    color:rgb(14, 23, 38);
    /* font-size:18px; */
    font-family:'semi-bold';
    font-weight:600;
    letter-spacing: -0.54px;
    line-height:24px;
}
.paragraph-content{
    font-size:16px;
    letter-spacing: -0.48px;
    line-height: 24px;
    text-align:left;
}
.content-second{
    margin-top:32px;
}
.explore-AI{
    text-decoration:none;
    display:flex;
    cursor:pointer;
    align-items:center;
    column-gap:8px;
    row-gap:8px;
}
.link-text{
    color:rgb(0, 66, 117);
    font-family:'semi-bold';
    font-size:14px;
    /* font-weight:600px; */
    padding-bottom:2px;
    letter-spacing:-0.48px;
}
.btn-AI{
    border-radius:8px;
    background-color: rgb(0,120,212);
    padding:8px;
}
.glyph::before{
    color:rgb(255,255,255);
    content:"";
    font-family:'fluenticon';
}

/* THIRD- PART */

.third-part{
    padding-bottom:56px;
    padding-top:56px;
    background-color:rgb(244, 250, 253);
}
#solutions{
    padding-left:16px;
    padding-right:16px;
}
.sol-head-inner{
    line-height:24px;
}
.sol-block-head{
    letter-spacing:0.96px;
    font-size:12px;
    margin-bottom:12px;
}
.sol-child-head{
    font-family:'semi-bold';
    letter-spacing:-.05em;
    line-height:2.25rem;
}
.sol-child-head h2{
    margin:0;
}
.solutions-contents{
    margin-top:24px;
}
.contents-inner{
    display:flex;
    flex-direction:column;
}
.tab-pills{
    display:flex;
    justify-content:start;
    overflow:auto;
    height:40px;
}
.tab-pills::-webkit-scrollbar{
    display: none;
}
.tab-pills button{
    border:0;
    border-radius:200px;
    cursor:pointer;
    margin-right:8px;
    padding-block-end:8px;
    padding-block-start:8px;
    padding-bottom:8px;
    padding-top:8px;
    padding-left:16px;
    padding-right:16px;
    text-align:center;
    color:rgb(0, 66, 117);
    background-color:rgba(0, 85, 151, 0.1);
}
.pill-item{
    font-size:15px;
    letter-spacing:-0.3px;
    padding-bottom:2px;
    text-align:center;
    text-wrap:nowrap;
    white-space-collapse: collapse;

}
.tab-pills button:first-child{
    background-color:rgb(0, 85, 151);
    color:rgb(255, 255, 255);
    font-family:'semi-bold'
}
.content-row{
    margin-left:-4px;
    margin-right:4px;
}
.ai-listing{
    padding-left:4px;
    padding-right:4px;
    list-style-type:none;
}
.list-a-btn{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-bottom:24px;
    padding-left:0;
    padding-right:0;
    width:100%;
    border:0;
    color:rgb(14, 23, 38);
    background-color:rgba(0, 0, 0, 0);

}
.list-a-btn span{
    transform:rotate(180deg);
}
.list-a-btn span::before{
    content:"";
    font-family:'fluenticon';
    font-size:16px;
}
.list-a-content{
    display:flex;
    flex-direction:column;
    column-gap:24px;
    padding-bottom:24px;
    row-gap:24px;
}
.list-cont-a{
    color:rgb(0, 41, 72);
    letter-spacing:-.03em;
    line-height:24px;
}
.explore-azure{
    margin-bottom:24px;
    text-underline-offset: 2px;
}
.explore-azure-im{
    max-width:100%;
}
.explore-img img{
    max-width:100%;
    aspect-ratio:auto;
    border-radius:16px;
}
.mediaplay-button{
    border-radius:8px;
    background-color:rgb(0, 120, 212);
    width:46.9px;
    position:absolute;
}
.media-play{
    display:flex;
    justify-content:center;
    border:0px;
    text-decoration:none;
    align-items:center;
    padding:14px;
}
.media-play span::before{
    content:"";
    font-family:'MDL';
    font-size:16px;
    color:rgb(255, 255, 255);
}
.explore-img{

}

















@media screen and (min-width:375px){}
@media screen and (min-width:425px){}
@media screen and (min-width:767px){}
@media screen and (min-width:860px){}
@media screen and (min-width:1024px){}
@media screen and (min-width:1440px){}
@media screen and (min-width:1516px){}
